body{
    
}


.primary-background{
    background: #2196f3!important;
}

/*
<span class="fa fa-asterisk"></span>
<span class="fa fa-bell-o"></span>
<span class="fa fa-binoculars"></span>
<span class="fa fa-fax"></span>*/